// Config file and project variables

// ----------------
// Breakpoints zone
// ----------------

// Warning: you should use your own values, regardless of the devices
// Best practice is Mobile First: (min-width: $breakpoint)
$tiny        : 480px !default; // or 'em' if you prefer, of course
$small       : 576px !default;
$medium      : 768px !default;
$large       : 992px !default;
$extra-large : 1200px !default;


// ---------------
// Components zone
// ---------------


// Component: arrows
$arrow-color     : $black !default;


// Components: buttons, badges, alerts color variants list
// Convention is: name - background-color - color - border
$variants-list: (
  (primary,    $color-text-primary,    $white,    none),
  (success,    $color-success,    $white,    none),
  (info,       $color-info,       $black,    none),
  (warning,    $color-warning,    $black,    none),
  (danger,     $color-danger,     $white,    none),
  (inverse,    $color-inverse,    $white,    none),
  (ghost,      $color-ghost,      $white,    0 0 0 1px $white inset)
) !default;

// Component: tabs
$tabs-border            : $gray-200 !default;
$tabs-active-border     : $gray-800 !default;
$tabs-color             : $color-text-primary !default;
$tabs-active-color      : $gray-800 !default;
$tabs-background        : transparent !default;
$tabs-active-background : transparent !default;
$tabs-border-radius     : 0 !default;

// Component: nav burger button
$burger-color             : $gray-800 !default;
$burger-background        : transparent !default;
$burger-hover-background  : transparent !default;
$burger-size              : 2.6rem !default;
$burger-weight            : 5px !default; // size of stripes
$burger-padding           : 0 !default;
