// Sass Config

// ----------------
// Breakpoints list
// ----------------
$breakpoints : (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$small:       map-get($breakpoints, sm) !default;
$medium:      map-get($breakpoints, md) !default;
$large:       map-get($breakpoints, lg) !default;
$extra-large: map-get($breakpoints, xl) !default;

// ----------------
// Spacers list
// ----------------

$spacers : (
  '0' : 0,
  '1' : .5rem,
  '2' : .75rem,
  '3' : 1rem,
  '4' : 1.5rem,
  '5' : 2rem,
  '6' : 3rem,
  '7' : 5rem,
  'auto' : auto
  );

$spacer-tiny:         map-get($spacers, '0') !default;
$spacer-tiny-plus:    map-get($spacers, '1') !default;
$spacer-small:        map-get($spacers, '2') !default;
$spacer-small-plus:   map-get($spacers, '3') !default;
$spacer-medium:       map-get($spacers, '4') !default;
$spacer-medium-plus:  map-get($spacers, '5') !default;
$spacer-large:        map-get($spacers, '6') !default;
$spacer-large-plus:   map-get($spacers, '7') !default;
