/*
 * Native CSS variables
 */

/*
 * Font families
 */

:root {
  --font-family-base: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --font-family-headings : sans-serif;
  --font-family-monospace : consolas, courier, monospace;
  --line-height-base: 1.5;
}

/*
 * Font sizes
 * (62.5% on HTML, then 1.6rem base is "16px"equivalent)
 */

:root {
  --font-size-html : 62.5%;
  --font-size-base : 1.6rem;
}

/*
 * Line heights
 */

:root {
  --line-height-s    : 1.3;
  --line-height-base : 1.5;
  --line-height-l    : 1.7;
}

/*
 * Font weights
 */

:root {
  --weight-light   : 200;
  --weight-book    : 300;
  --weight-regular : 400;
  --weight-medium  : 500;
  --weight-bold    : 700;
}

/*
 * Spacings
 */

:root {
  --spacer-tiny        : .5rem;
  --spacer-tiny-plus   : .7rem;
  --spacer-small       : 1rem;
  --spacer-small-plus  : 1.5rem;
  --spacer-medium      : 2rem;
  --spacer-medium-plus : 3rem;
  --spacer-large       : 5rem;
  --spacer-large-plus  : 8rem;
  --spacer-extralarge  : 10rem;
  --spacer-ultralarge  : 20rem;
}

/*
 * Colors
 */

:root {
  --white    : #fff;
  --black    : #000;

  --color-gray-lightest : #dee2e6;
  --color-gray-lighter : #ced4da;
  --color-gray-light : #acb3c2;
  --color-gray-base : #727e96;
  --color-gray-dark : #454d5d;
  --color-gray-darker : #333;
  --color-gray-darkest : #212529;

  --color-blue-base : #0275D8;
}

/*
 * Semantic colors
 */

:root {
  
  --color-text-primary   : #212529;
  --color-text-alternate : #727e96;
  --color-text-heading   : #454d5d;
  --color-text-inverted  : var(--white);

  --color-link-primary   : #333;
  --color-link-alternate : #212529;
  
  --color-background-dark  : #454d5d;
  --color-background-light : #dee2e6;
  --color-background-body  : var(--white);
  
  --color-state-success : #5CB85C;
  --color-state-info    : #5BC0DE;
  --color-state-warning : #F0AD4E;
  --color-state-danger  : #D9534F;
  --color-state-muted   : #e7e9ed;
  --color-state-ghost   : transparent;

  --color-forms           : #333;
  --color-forms-alternate : #333;
}

/*
 * Links
 */

:root {
  --link-decoration  : underline;
  --link-decoration-hover : underline;
}

/*
 * Global components
 */

:root {
  --margin-body             : 0;
  --width-body              : auto;
  --border-radius           : 0;
  --border-radius-alternate : 6px;
}

@media (min-width: 1024px) {
  :root {
    --width-body : 1024px;
  }
}