// ----------------
// Sass Config and variables
// ----------------

// ----------------
// Breakpoints values
// ----------------
$breakpoints : (
  sm: 576px,
  md: 768px,
  lg: 1024px,
  xl: 1330px
) !default;

$small:       map-get($breakpoints, sm) !default;
$medium:      map-get($breakpoints, md) !default;
$large:       map-get($breakpoints, lg) !default;
$extra-large: map-get($breakpoints, xl) !default;

// ----------------
// Spacers values
// ----------------

$spacers : (
  '0' : 0,
  '1' : .5rem,  // tiny
  '2' : .75rem, // tiny-plus
  '3' : 1rem,   // small
  '4' : 1.5rem, // small-plus
  '5' : 2rem,   // medium
  '6' : 3rem,   // medium-plus
  '7' : 5rem,   // large
  'auto' : auto
  ) !default;

$spacer-none:         map-get($spacers, '0') !default;
$spacer-tiny:         map-get($spacers, '1') !default;
$spacer-tiny-plus:    map-get($spacers, '2') !default;
$spacer-small:        map-get($spacers, '3') !default;
$spacer-small-plus:   map-get($spacers, '4') !default;
$spacer-medium:       map-get($spacers, '5') !default;
$spacer-medium-plus:  map-get($spacers, '6') !default;
$spacer-large:        map-get($spacers, '7') !default;

// ----------------
// Grid layout values
// ----------------

$grid-columns: 6 !default;

// ----------------
// Fonts values
// ----------------

// Font families
$font-family-base : system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$font-family-headings : sans-serif;
$font-family-monospace : consolas, courier, monospace;
$line-height-base : 1.5;

// Font sizes
$font-size-html : 62.5%;
$font-size-base : 1.6rem;

// Font weights
$weight-light   : 200;
$weight-book    : 300;
$weight-regular : 400;
$weight-medium  : 500;
$weight-bold    : 700;

// ----------------
// Color values
// ----------------

// Color palette (should not be used as variables)
$white    : #FFFFFF;
$black    : #000000;

$color-gray-100 : #F7FAFC;
$color-gray-200 : #DEE2E6;
$color-gray-300 : #CED4DA;
$color-gray-400 : #ABC3C2;
$color-gray-500 : #727E96;
$color-gray-600 : #454D5D;
$color-gray-700 : #333333;
$color-gray-800 : #212529;
$color-gray-900 : #1A202C;

$color-blue-500 : #0275D8;

// Semantic colors (should be used as variables)
$color-text-primary   : $color-gray-800;
$color-text-secondary : $color-gray-500;
$color-text-heading   : $color-gray-600;
$color-text-inverted  : $white;

$color-link-primary   : $color-gray-700;
$color-link-secondary : $color-gray-800;

$color-background-primary   : $color-gray-600;
$color-background-secondary : $color-gray-200;
$color-background-body      : $white;

$color-state-primary      : $color-gray-600;
$color-state-primary-dark : $color-gray-700;
$color-state-success      : #5CB85C;
$color-state-success-dark : #4D9C4D;
$color-state-info         : #5BC0DE;
$color-state-info-dark    : #4fA8C4;
$color-state-warning      : #F0AD4E;
$color-state-warning-dark : #D19644;
$color-state-danger       : #D9534F;
$color-state-danger-dark  : #BE4945;
$color-state-muted        : #D2D4d8;
$color-state-muted-dark   : #C3C5C9;
$color-state-ghost        : transparent;

$color-forms           : $color-gray-700;
$color-forms-secondary : $color-gray-700;

// Links
$link-decoration       : underline;
$link-decoration-hover : underline;

// Border radius
$radius-none   : 0;
$radius-small  : .5rem;
$radius-medium : 1rem;
$radius-large  : 2rem;
$radius-circle : 50%;

// ----------------
// Utils properties list (note that display: grid is in Grillade)
// ----------------
$utils: (
  (hidden, display, none),
  (block, display, block),
  (inline, display, inline),
  (inline-block, display, inline-block),
  (flex, display, flex),
  (flex-row, flex-direction, row),
  (flex-col, flex-direction, column),
  (flex-wrap, flex-wrap, wrap),
  (flex-no-wrap, flex-wrap, nowrap),
  (flex-shrink, flex-shrink, 1),
  (flex-no-shrink, flex-shrink, 0),
  (flex-grow, flex-grow, 1),
  (flex-no-grow, flex-grow, 0),
  (float-left, float, left),
  (float-right, float, right),
  (float-none, float, none),
  (text-bold, font-weight, bold),
  (text-italic, font-style, italic),
  (text-uppercase, text-transform, uppercase),
  (text-lowercase, text-transform, lowercase),
  (text-smaller, font-size, smaller),
  (text-bigger, font-size, bigger),
  (text-left, text-align, left),
  (text-center, text-align, center),
  (text-right, text-align, right),
  (text-justify, text-align, justify),
  (text-wrap, overflow-wrap, break-word),
  (justify-start, justify-content, flex-start),
  (justify-end, justify-content, flex-end),
  (justify-center, justify-content, center),
  (justify-between, justify-content, space-between),
  (justify-around, justify-content, space-around),
  (justify-evenly, justify-content, space-evenly),
  (justify-items-start, justify-items, start),
  (justify-items-end, justify-items, end),
  (justify-items-center, justify-items, center),
  (align-start, align-content, start),
  (align-end, align-content, end),
  (align-center, align-content, center),
  (align-between, align-content, space-between),
  (align-around, align-content, space-around),
  (align-evenly, align-content, space-evenly),
  (align-items-start, align-items, flex-start),
  (align-items-end, align-items, flex-end),
  (align-items-center, align-items, center),
  (place-center, place-content, center),
  (justify-self-auto, justify-self, auto),
  (justify-self-start, justify-self, start),
  (justify-self-end, justify-self, end),
  (justify-self-center, justify-self, center),
  (justify-self-stretch, justify-self, stretch),
  (align-self-auto, align-self, auto),
  (align-self-start, align-self, flex-start),
  (align-self-end, align-self, flex-end),
  (align-self-center, align-self, center),
  (align-self-stretch, align-self, stretch),
  (align-top, vertical-align, top),
  (align-bottom, vertical-align, bottom),
  (align-middle, vertical-align, middle),
  (item-first, order, -100),
  (item-last, order, 100)
) !default;