/*
 * basic button component
 */
/*
 * HTML template example:
 * preferably use <button> for buttons !
 * use .btn (for structure) and .btn-- (for variants) (see apperance mixin)
 */

/*
 * button reset
 */

%btn {
  display: inline-block;
  padding: var(--spacer-small) var(--spacer-small-plus);
  cursor: pointer;
  user-select: none;
  transition: 0.25s;
  transition-property: box-shadow, background-color, color, border;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  border: none;
}

.btn,
button {
  @extend %btn;

  &:focus {
    -webkit-tap-highlight-color: transparent;
  }
}


// button state variants
.btn,
button {
  &--small {
    padding: var(--spacer-tiny-plus) var(--spacer-small);
    font-size: .8em;
  }

  &--big {
    padding: var(--spacer-small-plus) var(--spacer-medium);
    font-size: 1.4em;
  }

  &--block {
    width: 100% !important;
    display: block;
  }

  &--unstyled {
    padding: 0;
    border: none;
    text-align: left;
    background: none;
    border-radius: 0;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &:focus {
      box-shadow: none;
      outline: none;
    }
  }
}