/*
 * code styling
 */

kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
  white-space: pre-wrap;
  line-height: normal;
}

pre {
  overflow: auto;
  -ms-overflow-style: scrollbar;
  tab-size: 2;
}

code,
kbd,
mark {
  border-radius: 2px;
}

kbd {
  padding: 0 2px;
  border: 1px solid #999;
}

code {
  padding: 2px 4px;
  background: rgba(0, 0, 0, 0.04);
  color: #b11;
}

pre code {
  padding: 0;
  background: none;
  color: inherit;
  border-radius: 0;
}

mark {
  padding: 2px 4px;
}