/*
 * HTML template example:
 * <div class="container"> <!-- can be body -->
 *   <div class="hero">
 *   </div>
 * </div>
 * Source : https: //codepen.io/raphaelgoetter/pen/ZeryqR?editors=1100
 */


/*
 * hero variables (you can change them)
 */

.hero {
  --remaining-space: calc((100vw - var(--width-body)) / 2);
}

/*
 * hero styles
 */

.hero {
  width: 100vw;
  display: grid;
  transform: translateX(calc(var(--remaining-space) * -1));
  grid-template-columns: var(--width-body);
  justify-content: center;
}