/* ----------------------------- */
/* ==Reset (global)              */
/* ----------------------------- */

/**
 * 1. switch to border-box model for all elements
 * 2. avoid min-width: auto and min-height: auto on flex and grid children
 */

*,
*::before,
*::after {
  box-sizing: border-box; /* 1 */
  min-width: 0; /* 2 */
  min-height: 0; /* 2 */
}

/**
 * 1. remove the grey highlight on links in iOS 
 * 2. prevent orientation font changes in iOS
 * 3. set base font-size to equiv "10px", which is adapted to rem unit
 */

html {
  font-size: 0.625em; /* 3 */
  -webkit-tap-highlight-color: transparent; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

body {
  margin: 0;
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  background-color: $background-base;
  color: $color-base;
}

/**
 * links
 */

a {
  color: $link-color;
  text-decoration: $link-decoration;

  &:focus,
  &:hover,
  &:active {
    color: $link-color-hover;
    text-decoration: $link-decoration-hover;
  }
}

/**
 * headings
 */

h1, .h1-like {
  font-family: $font-family-headings;
  font-weight: $weight-medium;
}

h2, .h2-like {
  font-family: $font-family-headings;
  font-weight: $weight-medium;
}

h3, .h3-like {
  font-family: $font-family-headings;
  font-weight: $weight-medium;
}

h4, .h4-like {
  font-weight: $weight-medium;
}

h5, .h5-like {
  font-weight: $weight-medium;
}

h6, .h6-like {
  font-weight: $weight-medium;
}

/**
 * vertical rythm
 */

h1,
h2,
h3,
h4,
h5,
h6,
dd {
  margin-top: 0;
  margin-bottom: $headings-margin-bottom;
}

p,
address,
ol,
ul,
dl,
blockquote,
pre {
  margin-top: 0;
  margin-bottom: $paragraph-margin-bottom;
}

/**
 * avoid margin on nested elements
 */

li p,
li .p-like,
li ul,
li ol,
ol ol,
ul ul,
nav ul {
  margin-top: 0;
  margin-bottom: 0;
}

/**
 * common rules for lists
 */

ul,
ol {
  padding-left: 2em;
}

/* ----------------------------- */
/* ==Reset (common styling)      */
/* ----------------------------- */

a,
area,
button,
[role="button"],
.btn,
.button,
[type="button"]
input:not([type="range"]),
label,
select,
summary,
textarea {
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

img,
table,
td,
blockquote,
code,
pre,
textarea,
input,
video,
svg {
  max-width: 100%;
}

img {
  height: auto;
  vertical-align: middle;
  border-style: none;
}

pre,
code {
  font-family: monospace, monospace;
  font-size: 1em;
  white-space: pre-wrap;
  line-height: normal;
}

pre {
  overflow: auto;
  -ms-overflow-style: scrollbar;
  tab-size: 2;
}

/**
 * fill color matching to text color
 */

svg:not([fill]) {
  fill: currentColor;
}

/**
 * enable word breaking on small screens
 */

@media (max-width: ($small - 1)) {
  body,
  div,
  p,
  textarea,
  table,
  td,
  th,
  code,
  pre,
  samp {
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
}
