/*
 * utils layout
 */

/* "BFC" Block Formating Context */

.bfc,
.u-bfc {
  display: flow-root;
}

/* simple blocks alignment */

.left,
.u-left {
  margin-right: auto;
}

.right,
.u-right {
  margin-left: auto;
}

.center,
.u-center {
  margin-left: auto;
  margin-right: auto;
}

/* inline-block */

.inbl,
.u-inbl {
  display: inline-block;
  vertical-align: top;
}

/* Flexbox layout is KNACSS choice
http://www.alsacreations.com/tuto/lire/1493-css3-flexbox-layout-module.html
*/

.flex-container,
.d-flex {
  display: flex;
  flex-wrap: wrap;
}

.flex-container--row,
.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-container--column,
.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-container--row-reverse,
.flex-row-reverse {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.flex-container--column-reverse,
.flex-column-reverse {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
}

.flex-item-fluid,
.item-fluid {
  flex: 1 1 0%;
}

.flex-item-first,
.item-first {
  order: -1;
}

.flex-item-medium,
.item-medium {
  order: 0;
}

.flex-item-last,
.item-last {
  order: 1;
}

.flex-item-center,
.item-center {
  margin: auto;
}
